@import url('https://fonts.googleapis.com/css?family=Work+Sans:900');


body {
  font-family: 'Work Sans', sans-serif;
  background: linear-gradient(blue, lightblue);
  color: yellow;
}

h1{
  color: white;
}

.board {

}

.board button {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px;
  margin: 5px;
}
